.text {
  position: absolute;
  left: 40%;
  top: 50%;
  bottom: 50%;
  right: 40%;
}

.curved {
  background-image: linear-gradient(to right bottom, rgb(0, 67, 105), rgba(243, 247, 6, 0.801), 0.8);
  height: 30vh;
  position: relative;

}
