
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 text-center">
                <span class="h1">(っ◔◡◔)っ ♥ Going wherever the < code > leads me to ♥   </span>         </div>
            <div class="col-sm-12 col-md-9 text-center h5"> More than 3 years now, I've been coding, discovering and having fun with multiples javascript frameworks.
                Most of the time alone... 😒 Definitely need to becoming part of a team to channel all the crazy lines of code within me.
                <p>                Check out some of my achievements below 🧐.
                    </p>
                    <hr />
                    <p class="font-weight-bolder h3">日本語も話すよ、マ〜〜政治や経済について会話ぐらいできないだけど、開発言語ならいいよ。</p>
                      <p class="font-weight-bolder h3">🏋N4の日本語の力試験を合格しました〜✍</p>
            </div>
        </div>
        
      </div>
    </div>
  </section>