<div class="presentation row">
  <div class="presentation_box col-12 col-md-6">
    <figure class="presentation__shape">
      <img class="presentation__image" src="../../../assets/ash1.jpg" alt="Ashraf Mohamed Aden" />
    </figure>
  </div>
  <div class="presentation_text col-12 col-md-6 text-center pt-5">
    <h3 class="display-4 presentation_text_title">Ashraf Mohamed Aden</h3>
    <div class="card-body pt-5">
      <div class="small">
        <p class="level-item h5 text-info">Full-Stack Javascript developer</p>
        <p class="level-item h5 text-info"><a>Master's degree of Sciences in Information Systems</a></p>
      </div>
      <p class="level-item h6 text-danger ">ashrafmohamedaa253@gmail.com</p>
      <div class="d-flex flex-column">
        <a class="h5 text-primary" href="https://www.linkedin.com/in/ashraf-mohamed-542902b8/" target="_blank">😎
          LinkedIn
        </a>
        <a class="h5 text-success" href="../../../assets/ASHRAF MOHAMED ADEN CV - Englais.pdf" target="_blank"><img
            width="20" src="../../../assets/cv.png"> My
          resume
        </a>

      </div>
    </div>
    <!-- <div class="display-4 p-2">
      (っ◔◡◔)っ ♥ Going wherever the < code> leads me to ♥
    </div> -->
  </div>
</div>
