<div class="row">
  <div class="col-sm-12 text-center mb-5">
    <span class="h1">Some of my achievements</span>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <a href="https://chatappfrontendangular.web.app/" target="_blank">
        <div class="card-image">
          <figure class="image is-4by2 zoom">
            <img src="../../../assets/chat.png" alt="Placeholder image" width="500" />
          </figure>
        </div>
      </a>
      <div class="card-content">
        <div class="content">
          A little application to demonstrate how chat rooms are created. You and your friends can decide the name of the room and login with you own name. Let's chat! <br> <strong>Developped with Angular, Node.js, Expres.js and socket.io</strong>
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <a href="https://aqli.shop" target="_blank">
        <div class="card-image">
          <figure class="image is-4by2 zoom">
            <img src="../../../assets/Annotation 2020-05-16 122822.png" alt="Placeholder image" width="500" />
          </figure>
        </div>
      </a>
      <div class="card-content">
        <div class="content">
          An ecommerce App for a startup. The aim was to create a b2c platform that would be the first one in Djibouti.
          <br><strong>Developped with Nuxt.js, Node.js and Express.js</strong>

          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <a href="https://nationallibrary-13f4b.firebaseapp.com/dashboard" target="_blank">
        <div class="card-image">
          <figure class="image is-4by2 zoom">
            <img src="../../../assets/Annotation 2020-05-16 122827.png" alt="Placeholder image" width="500" />
          </figure>
        </div>
      </a>
      <div class="card-content">
        <div class="content">
          An application to manage libraries. You can create books, types of books, users and  manage the borrowing process of books by users.
          <br><strong>Developped with Angular and spring boot in a docker container</strong>
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <a href="https://lapostededj.web.app/login" target="_blank">
        <div class="card-image">
          <figure class="image is-4by2 zoom   ">
            <img src="../../../assets/laposte.png" alt="Placeholder image" width="500" />
          </figure>
        </div>
      </a>
      <div class="card-content">
        <div class="content">
          Clients Management application. In-house application made for LA POSTE DE DJIBOUTI. The application fetch all the clients give informations about their subscriptions and if they have bills to pay or not.
          Sms and email can be sent to the clients.
          <br>This version of the app is not its latest, the app is used localy.
          <br><strong>Developped with Angular, Node.js, Express.js, Twilio</strong>
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <a href="https://djibaviationcivile.com/" target="_blank">
        <div class="card-image">
          <figure class="image is-4by2 zoom   ">
            <img src="../../../assets/aac.png" alt="Placeholder image" width="500" />
          </figure>
        </div>
      </a>
      <div class="card-content">
        <div class="content">
          Official website of the Civil Aviation Authority of Djibouti. A standard website with a JWT authentication and an upload & update content modules.
          <br><strong>Developped with Vue.js, Node.js, Express.js</strong>
          <br />
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-12 col-md-6">
    <div class="card">
      <a href="https://djib-covid2020.firebaseapp.com/" target="_blank">
        <div class="card-image">
          <figure class="image is-4by2 zoom">
            <img src="../../../assets/Annotation 2020-05-16 122747.png" alt="Placeholder image" width="500" />
          </figure>
        </div>
      </a>
      <div class="card-content">
        <div class="content">
          A money transfert web application, I contributed to the backend.
          With the application we input the sender informations, the amount, and the receiver informations. The transaction appears then in the nearest agencies of the receiver locations.
          <br><strong>Developed with Angular, Node.js, Express.js</strong>
          <br />
        </div>
      </div>
    </div>
  </div> -->
</div>
