<div class="row">
  <div class="col-sm-12 text-center mb-5">
    <span class="h1">Some of my achievements</span>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <a href="https://chatappfrontendangular.web.app/" target="_blank">
        <div class="card-image">
          <figure class="image is-4by2 zoom">
            <img src="../../../assets/chat.png" alt="Placeholder image" width="500" />
          </figure>
        </div>
      </a>
      <div class="card-content">
        <div class="content">
          A little application to demonstrate how chat rooms are created.
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <a href="https://aqli.shop" target="_blank">
        <div class="card-image">
          <figure class="image is-4by2 zoom">
            <img src="../../../assets/Annotation 2020-05-16 122822.png" alt="Placeholder image" width="500" />
          </figure>
        </div>
      </a>
      <div class="card-content">
        <div class="content">
          An ecommerce App for a startup.

          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <a href="https://nationallibrary-13f4b.firebaseapp.com/dashboard" target="_blank">
        <div class="card-image">
          <figure class="image is-4by2 zoom">
            <img src="../../../assets/Annotation 2020-05-16 122827.png" alt="Placeholder image" width="500" />
          </figure>
        </div>
      </a>
      <div class="card-content">
        <div class="content">
          An application to manage libraries
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <a href="https://lapostededj.web.app/login" target="_blank">
        <div class="card-image">
          <figure class="image is-4by2 zoom   ">
            <img src="../../../assets/laposte.png" alt="Placeholder image" width="500" />
          </figure>
        </div>
      </a>
      <div class="card-content">
        <div class="content">
          Mail and clients Management application. In-house application made for LA POSTE DE DJIBOUTI
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <a href="https://djibaviationcivile.com/" target="_blank">
        <div class="card-image">
          <figure class="image is-4by2 zoom   ">
            <img src="../../../assets/aac.png" alt="Placeholder image" width="500" />
          </figure>
        </div>
      </a>
      <div class="card-content">
        <div class="content">
          Official website of the Civil Aviation Authority of Djibouti.
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <a href="https://coliplus.netlify.app/" target="_blank">
        <div class="card-image">
          <figure class="image is-4by2 zoom ">
            <img src="../../../assets/coliplus.png" alt="Placeholder image" width="500" />
          </figure>
        </div>
      </a>
      <div class="card-content">
        <div class="content">
          Coliplus. In-house application made for LA POSTE DE DJIBOUTI
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <a href="https://djib-covid2020.firebaseapp.com/" target="_blank">
        <div class="card-image">
          <figure class="image is-4by2 zoom">
            <img src="../../../assets/Annotation 2020-05-16 122747.png" alt="Placeholder image" width="500" />
          </figure>
        </div>
      </a>
      <div class="card-content">
        <div class="content">
          A little application that shows the evolution of Covid19 in Djibouti
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
