<div class="row d-flex justify-content-center">
  <div class="col-3 col-md-2 p-4"><img width="100"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png"
      alt=""></div>
  <div class="col-3 col-md-2 p-4"><img width="100"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/langfr-220px-Angular_full_color_logo.svg.png"
      alt=""></div>
  <div class="col-3 col-md-2 p-4"><img width="100" src="../../../assets/vue.jpg" alt=""></div>
  <div class="col-3 col-md-2 p-4"><img width="100" src="../../../assets/nodejs-thumb.jpg" alt=""></div>
  <div class="col-3 col-md-2 p-4"><img width="100" src="../../../assets/NuxtJS_Logo.png" alt=""></div>
  <div class="col-3 col-md-2 p-4"><img width="100" src="../../../assets/touchicon-180.png" alt=""></div>
  <div class="col-3 col-md-2 p-4"><img width="100" src="../../../assets/heroku.png" alt=""></div>
  <div class="col-3 col-md-2 p-4"><img width="100" src="../../../assets/spring.png" alt=""></div>
  <div class="col-3 col-md-2 p-4"><img width="100" src="../../../assets/java.png" alt=""></div>
  <div class="col-3 col-md-2 p-4"><img width="100" src="../../../assets/docker.jpg" alt=""></div>
  <div class="col-3 col-md-2 p-4"><img width="100" src="../../../assets/mysql-vector1.jpg" alt=""></div>
  <div class="col-3 col-md-2 p-4"><img width="100"
      src="../../../assets/mongo-db-design-mongodb-logo-mongodb-11562879783bwj2cknalk.png" alt=""></div>
  <div class="col-3 col-md-2 p-4"><img width="100" src="../../../assets/sass.jpg" alt=""></div>
  <div class="col-3 col-md-2 p-4"><img width="100" src="../../../assets/1200px-Bootstrap_logo.svg.png" alt=""></div>


</div>
